mkdocs==1.6.0
mkdocs-htmlproofer-plugin==1.2.1
mkdocs-minify-plugin==0.8.0
mkdocs-autolinks-plugin==0.7.1
mkdocs-material==9.5.21
markdown-include==0.8.1
mkdocs-section-index==0.3.9
mkdocs-include-dir-to-nav==1.2.0
mkdocs-glightbox==0.3.7